<footer>
    <div class="container">
        <div class="footer-social-container">
            <a href="https://www.youtube.com/" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
            </a>
            <a href="https://www.instagram.com/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://www.tiktok.com/" class="social-link">
                <ion-icon name="logo-tiktok"></ion-icon>
            </a>
            <a href="https://twitter.com/" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="https://facebook.com/" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </div>
        <p class="copyright">© Boolers Offical 2021</p>
    </div>
</footer>