<!-- box-header -->
<header class="box-header">
    <div class="box-logo">
        <nav>
            <a class="big-booler" href="/"><img src="img/image.png" width="90" alt="Logo"></a>
            <button class="cart-btn mobile" data-toggle="modal" data-target="#exampleModal"><ion-icon name="bag"></ion-icon></button>
            <a class="box-primary-nav-trigger">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <ul class="box-primary-nav-lg">
                <li><a href="/mission">Our Mission</a></li>
                <li><a href="/stories">Stories</a></li>
                <li><a href="/merch">Merch</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li class="li-cart-btn"><button class="cart-btn" data-toggle="modal" data-target="#exampleModal"><ion-icon name="bag"></ion-icon></button></li>
            </ul>
        </nav>
    </div>
    <!-- box-nav -->

</header>
<!-- end box-header -->

<!-- nav -->
<nav>
    <ul class="box-primary-nav">
        <li class="box-label">Navigation</li>

        <li><a href="/mission">Our Mission</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/merch">Merch</a></li>
        <li><a href="/contact">Contact us</a></li>



        <li class="box-label">Follow Boolers</li>

        <li class="box-social"><a href="https://www.youtube.com/channel/UCOyCK9NazGFvOaZF8_IY82g">
                <ion-icon name="logo-youtube"></ion-icon>
            </a></li>
        <li class="box-social"><a href="https://www.instagram.com/boolersofficial/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        <li class="box-social"><a href="https://www.tiktok.com/">
                <ion-icon name="logo-tiktok"></ion-icon>
            </a></li>
        <li class="box-social"><a href="https://twitter.com/">
                <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
        <li class="box-social"><a href="https://facebook.com/">
                <ion-icon name="logo-facebook"></ion-icon>
            </a></li>

    </ul>
</nav>
<!-- end nav -->
</div>