
{{> nav}}

<!-- Merch -->
<div class="top-bar">
    <h1>All Merch</h1>
</div>
<div class="container">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">
                {{# each products }}
                {{# each this }}
                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="/merch/{{this._id}}" class="portfolio_item">
                        <img src={{this.thumbnail}} alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>{{ this.productName }}</span>
                                    <em>View Item</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->
                {{/each}}
                {{/each}}
            </div>
        </div>
        <!-- end portfolio_container -->
    </div>
    <!-- portfolio -->
</div>
<!-- end portfolio div -->