{{> nav}}

<!-- Merch -->
<div class="top-bar">
    <h1>All Merch</h1>
    <p><a href="/">Home</a> / <a href="/merch">merch</a></p>
</div>

<div class="container md-4">
    <div class="row">
        <div class="container card-deck">
            {{# each products }}
            {{# each this }}
            <!-- single work -->
            <div class="card mb-4" style="">
                <a href="/merch/{{ this._id }}" class="product-link">
                    <img class="card-img-top" src={{ this.thumbnail }} alt="product image">
                    <div class="card-body">
                        <h4 class="card-title">{{ this.productName }}</h4>
                        <h5 class="text-uppercase">${{ this.price }}.00</h5>
                    </div>
                </a>
            </div>
            <!-- end single work -->
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>