<!-- container-fluid class on below div needs to be removed from home page -->
    <div class="">
        {{> nav}}

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell background-tint">
                <h1 class="box-headline letters rotate-2">
                    <!-- <span class="box-words-wrapper">
                        <b class="is-visible">design.</b>
                        <b>&nbsp;coding.</b>
                        <b>graphic.</b>
                    </span> -->
                    <img class="booler-hero" src="img/image.png" alt="Logo" />
                </h1>
                <h5>equipped</h5>
                <h5>est. 2018</h5>
            </div>


        </section>
        <!-- end box-intro -->
    </div>

    <div class="mouse">
        <div class="scroll"></div>
    </div>
    <!-- Merch -->
    <div class="top-bar">
        <h1>New Merch</h1>
    </div>
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">
                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_1A.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Boolers Equipped Shirt</span>
                                    <em>View Item</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_2.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Floating mockups</span>
                                    <em>Ads / Graphics</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_3A.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Photorealistic smartwatch</span>
                                    <em>Photography</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_4.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Held by hands</span>
                                    <em>Fashion / Ads</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_5.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Mobile devices</span>
                                    <em>Graphics / Ads</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_6.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Photorealistic smartwatch</span>
                                    <em>Photography</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6 fashion logo">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_7.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Mobile devices</span>
                                    <em>Graphics / Ads</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-3 col-sm-6">
                    <a href="single-product.html" class="portfolio_item">
                        <img src="img/merch/shirt_8.PNG" alt="image" class="img-responsive" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Mobile devices</span>
                                    <em>Graphics / Ads</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
