<!-- container-fluid class on below div needs to be removed from home page -->
<div class="">
    {{> nav}}

    <!-- box-intro -->

    <section class="box-intro">
        <div class="table-cell background-tint">
            <video poster="" autoplay playsinline muted loop>
                <source src="img/hero.mp4" type="video/mp4">
            </video>
            <div class="intro-text-mobile">
                <h1 class="box-headline letters rotate-2">
                    <img class="booler-hero" src="img/image.png" alt="Logo" />
                </h1>
                <h5>equipped</h5>
                <h5>est. 2018</h5>
            </div>
    </section>

    <!-- end box-intro -->
</div>


<div class="mouse">
    <div class="scroll"></div>
</div>
{{!-- Youtube intro vide plug --}}
<div class="top-bar">
    <h1>New Videos</h1>
</div>

<div class="container video-container">
    <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WsKpQT8p_wo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>


<!-- New Merch -->
<div class="top-bar">
    <h1>New Merch</h1>
</div>

<div class="container md-4">
    <div class="row">
        <div class="container card-deck">
            {{# each products }}
            {{# each this }}
            <!-- single work -->
            <div class="card mb-4" style="">
                <a href="/merch/{{ this._id }}" class="product-link">
                    <img class="card-img-top" src={{ this.thumbnail }} alt="product image">
                    <div class="card-body">
                        <h4 class="card-title">{{ this.productName }}</h4>
                        <h5 class="text-uppercase">${{ this.price }}.00</h5>
                    </div>
                </a>
            </div>
            <!-- end single work -->
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>
    
</div>
<!-- New Merch -->